In [2]:
# In order to process data we'll use pandas library
import pandas as pd

In [3]:
# Original data
original_data = pd.read_csv("../Original Data/tb.csv")
original_data

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [18]:
# We're going to drop missing values
no_missing_values = original_data.dropna(subset=['iso2', 'year'])

# Let's keep those rows that have at least 5 not NaN values
no_missing_values = no_missing_values.dropna(axis=0, thresh=5)

# Let's drop some columns that are clearly full of NaN values
no_missing_values.drop(['new_sp_m04', 'new_sp_f04', 'new_sp_m514', 'new_sp_f514', 'new_sp_fu', 'new_sp_mu'], inplace=True, axis=1)

# Let's save filtered data to Analysis Data directory
no_missing_values.to_csv("../Analysis Data/tb_without_missing_values.csv", index=False)

no_missing_values

,iso2,year,new_sp,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,new_sp_m5564,new_sp_m65,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65
6,AD,1996,8.0,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
7,AD,1997,17.0,0.0,0.0,1.0,2.0,2.0,1.0,6.0,0.0,1.0,2.0,3.0,0.0,0.0,1.0
8,AD,1998,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,AD,1999,4.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
10,AD,2000,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,187.0,833.0,2908.0,2298.0,1056.0,366.0,198.0,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0
5765,ZW,2005,13155.0,210.0,837.0,2264.0,1855.0,762.0,295.0,656.0,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0
5766,ZW,2006,12718.0,215.0,736.0,2391.0,1939.0,896.0,348.0,199.0,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0
5767,ZW,2007,10583.0,138.0,500.0,3693.0,0.0,716.0,292.0,153.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0
5768,ZW,2008,9830.0,127.0,614.0,0.0,3316.0,704.0,263.0,185.0,145.0,840.0,0.0,2890.0,467.0,174.0,105.0

In [24]:
# First we're going to replace all NaN values with 0
df = no_missing_values.fillna(0)

# Then we make iso2 and year identifier variables and other columns we treat as measured variables
df = pd.melt(df, id_vars=['iso2', 'year'], value_vars=list(df.columns)[3:],
             var_name='column', value_name='cases')

df['cases'] = df['cases'].astype(int)
df['sex'] = df['column'].str[7]
df['age'] = df['column'].str[8:].map({
    '014': '0-14',
    '1524': '15-24',
    '2534': '25-34',
    '3544': '35-44',
    '4554': '45-54',
    '5564': '55-64',
    '65': '65+'
})
df = df[['iso2', 'year', 'sex', 'age', 'cases']]
df = df.sort_values(by=['iso2','year', 'age','sex'])

df.reset_index(drop=True)

# We save tidied data to tidied_tb.csv file in Analysis Data subfolder
df.to_csv("../Analysis Data/tidied_tb.csv")

# We print just first 20 rows
df.head(20)

      iso2  year sex    age  cases
17066   AD  1996   f   0-14      0
0       AD  1996   m   0-14      0
19504   AD  1996   f  15-24      1
2438    AD  1996   m  15-24      0
21942   AD  1996   f  25-34      1
4876    AD  1996   m  25-34      0
24380   AD  1996   f  35-44      0
7314    AD  1996   m  35-44      4
26818   AD  1996   f  45-54      0
9752    AD  1996   m  45-54      1
29256   AD  1996   f  55-64      1
12190   AD  1996   m  55-64      0
31694   AD  1996   f    65+      0
14628   AD  1996   m    65+      0
17067   AD  1997   f   0-14      0
1       AD  1997   m   0-14      0
19505   AD  1997   f  15-24      1
2439    AD  1997   m  15-24      0
21943   AD  1997   f  25-34      2
4877    AD  1997   m  25-34      1